[Unit]
Description=Packet Filtering for Docker
DefaultDependencies=no
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/sleep 2
ExecStart=/usr/sbin/iptables-restore --noflush /etc/systemd/system/iptables.rules
ExecReload=/usr/sbin/iptables-restore --noflush /etc/systemd/system/iptables.rules
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
