[Unit]
Description=Redmine Service
Requires=docker.service
After=docker.service mariadb.service smtp.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=/usr/bin/mkdir -p /mnt/data/%p/data /mnt/data/%p/plugins /mnt/data/%p/themes
ExecStartPre=/usr/bin/touch /mnt/data/%p/environment /mnt/data/%p/environment.generated
ExecStartPre=/usr/bin/chown 1000:1000 /mnt/data/%p/data /mnt/data/%p/plugins /mnt/data/%p/themes
ExecStartPre=-/usr/bin/docker kill %p %p.eval
ExecStartPre=-/usr/bin/docker rm %p %p.eval
ExecStartPre=/usr/bin/docker run --rm --name %p.eval -v /mnt/data/%p/environment:/input/environment -v /mnt/data/%p/environment.generated:/output --link smtp quay.io/macropin/evaluate-env:latest
ExecStart=/usr/bin/docker run --rm --name %p --env-file=/mnt/data/%p/environment.generated --volume=/mnt/data/%p/data:/home/redmine/data --volume=/mnt/data/%p/plugins:/home/redmine/redmine/plugins --volume=/mnt/data/%p/themes:/home/redmine/redmine/public/themes -p 80:80 -p 443:443 --link mariadb:mysql sameersbn/redmine
ExecStop=/usr/bin/docker stop -t 2 %p

[Install]
WantedBy=multi-user.target
